@import '../../../node_modules/bootstrap/scss/functions';

@import './utils/variables';
@import '../../../node_modules/bootstrap';
@import './utils/utilities';

@import './components/button';

$utilities: map-merge($utilities,
        ("font-size": (responsive: true,
                property: font-size,
                class: fs,
                values: $font-sizes )));