.room-btn {
    text-wrap: nowrap;
    border: 1px solid $primary;
    color: $primary;
    width: 100%;

    &.active,
    &:hover {
        background-color: $primary-75;
        border: 1px solid $primary;
        color: $primary;
    }
}

.btnL{
    background: $contrast;
    color: white;
    &.active,
    &:hover {
        background-color: $contrast-deep;
        color: $contrast-light;
    }
}