.fc-event {
  cursor: pointer;
}

.front-calendar-modal .fc-event {
  cursor: default;
}

/* 只針對 resourceTimelineMonth 這個月視圖調整背景色、字體大小等 */
.fc .fc-resourceTimelineMonth-view {
  background-color: #f9f9f9;
  font-size: 14px;
}

/* 調整資源欄標題樣式 */
.fc .fc-resourceTimelineMonth-view .fc-col-header-cell-cushion {
  font-weight: bold;
  color: white;
}

/* 調整時間軸格子底色 */
.fc .fc-resourceTimelineMonth-view .fc-timeline-slot {
  background-color: #fff7e6;
  border: 1px solid #ddd;
}

/* 調整事件外觀 */
.fc .fc-resourceTimelineMonth-view .fc-event {
  background-color: #4D0000;
  color: white;
  border-radius: 4px;
  font-weight: 600;
}

/* 你也可以調整高度、間距 */
.fc .fc-resourceTimelineMonth-view .fc-timeline {
  row-gap: 8px;
}

.fc-daygrid-event-harness {
  border: 1px solid $primary;
  overflow: hidden;
}

.fc-daygrid-dot-event {
  display: flex;
  flex-direction: column;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-daygrid-event {
  font-size: 10px;
}

.fc .fc-daygrid-day-top {
  background-color: $contrast-light;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .fc-toolbar,
  .btn {
    display: none;
  }
}

.fc .fc-button-primary {
  background-color: $contrast;
  border: 1px solid $contrast;

  &:active,
  &:hover,
  &:focus {
    background-color: $contrast-deep;
  }

  &:disabled {
    background-color: $contrast-light;
    color: $contrast;
    border: 1px solid $contrast-light;
  }
}

.fc-col-header-cell {
  background-color: $contrast-deep;
  color: white;
}